<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="mt-3">コメント一覧</h5>
      <table class="table table-bordered">
        <tr>
          <th>ユーザーネーム</th>
          <th>コメント内容</th>
          <th></th>
        </tr>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.member.name %><br>
          <%= comment.created_at.strftime("%Y/%m/%d") %></td>
          <td><%= safe_join(comment.comment_content.split("\n"),tag(:br)) %></td>
          <td><%= link_to "削除", admin_comment_path(comment.id), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
        <% end %>
      </table>
      <div class="row justify-content-center">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>