<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="mt-3">レビュー一覧</h5>
      <% @reviews.each do |review| %>
      <table class="table border:none;">
        <tr>
          <th></th>
          <th></th>
          <th>商品名</th>
          <th>タイトル</th>
          <th>評価</th>
          <th>レビュー内容</th>
          <th></th>
        </tr>
        <tr>
          <%if review.member.image.attached? %>
              <td><%= image_tag review.member.image, size: "50x50" %><br>
              <%= review.created_at.strftime("%Y/%m/%d") %></td>
            <%else%>
              <td><%=image_tag "no_image.jpg", size: "50x50"%><br>
              <%= review.created_at.strftime("%Y/%m/%d") %></td>
            <%end%>
          <td><%= review.member.name %></td>
          <td><%= review.product_name %>
          <%= image_tag review.image_url, size: "85x85" %>
          </td>
          <td><%= review.title %></td>
          <td><%= review.evaluation %>点</td>
          <td style="width: 20%"><%= safe_join(review.review_content.split("\n"),tag(:br)) %></td>
          <td><%= link_to "削除", admin_member_path(review.id), "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm", method: :delete %></td>
        </tr>
      </table>
      <% end %>
      <div class="row justify-content-center">
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>