<div class="container mt-3">
  <h5>マイページ</h5>
  <div class="row">
    <div class="col-sm-12 align-self-center">
      <table class="table table-hover table-inverse">
        <tr>
          <% if @member.image.attached? %>
            <div class='row'>
              <div class='col-pl-2'>
                <td>アイコン</td>
                <td><%= image_tag @member.image, size: "90x90" %></td>
              </div>
            </div>
          <% end %>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @member.email %></td>
        </tr>
      </table>
    </div>
  </div>
      
  
  <div class="d-flex flex-column">
    <% unless @member.guest? %>
      <%= link_to "登録情報を編集する", edit_members_path, class: "btn btn-outline-success mt-2" %>
      <%= link_to "パスワード変更", password_edit_members_path, class: "btn btn-outline-success mt-2" %>
    <% end %>
    <%= link_to "過去の投稿一覧を見る", reviews_members_path, class: "btn btn-outline-info mt-2"%>
    <% unless @member.guest? %>
      <%= link_to "退会", unsubscribe_members_path,class: "btn btn-outline-danger mt-2" %>
    <% end %>
  </div>
  
</div>