<div class="container mt-5">
  <div class="row">
     <h3>マイページ</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover table-inverse">
        <tr>
          <% if @member.image.attached? %>
            <div class='row'>
              <div class='col-pl-2'>
                <td>アイコン</td>
                <td><%= image_tag @member.image, size: "90x90" %></td>
              </div>
            </div>
          <% end %>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @member.email %></td>
        </tr>
      </table>
      
      <div class="row">
        <% unless @member.guest? %>
          <h5 class="mt-3">登録情報</h5>
          <div class="col mt-3 mb-2">
            <%= link_to "編集する", edit_members_path, class: "btn btn-outline-success" %>
          </div>
          <h5 class="mt-3">パスワード変更</h5>
          <div class="col mt-3 mb-2">
            <%= link_to "パスワード変更", password_edit_members_path, class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </div>
    </div>     
  </div>
  <div class="row">
    <h5>過去の投稿</h5>
    <div class="col-3">
      <%= link_to "一覧を見る", reviews_members_path, class: "btn btn-outline-info"%>
    </div>
  </div>
  <div class="row">
    <% unless @member.guest? %>
      <h5 class="mt-3">退会はこちら</h5>
      <div class="col-3">
        <div>
          <%= link_to "退会", unsubscribe_members_path,class: "btn btn-outline-danger mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>