<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h5>レビュー編集</h5>
      <%= form_with model: @review, url: review_path(@review.id), method: :patch do |f| %>
      <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col-sm col-md-5 col-lg-2"><%= f.label :product_name, "商品名(編集不可)", class: "col-12" %></div>
          <div class="col-sm col-md-5 col-lg-4"><%= f.text_field :product_name, readonly: true, class: "text-secondary w-100" %></div>
        </div>
        
        <div class="row mt-2">
          <div class="col-sm col-md-5 col-lg-2"><%= f.label :title, "タイトル", class: "col-12" %></div>
          <div class="col-sm col-md-5 col-lg-4"><%= f.text_field :title, autofocus: true, class: "w-100" %></div>
        </div>
        
        <div class="row mt-2">
          <div class="col-sm col-md-5 col-lg-2"><%= f.label "タグ", class: "col-12" %></div>
          <div class="col-sm col-md-5 col-lg-4">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        
        <div class="row mt-2">
          <div class="col-sm col-md-5 col-lg-2"><%= f.label "評価", class: "col-12" %></div>
          <div class="col-sm col-md-5 col-lg-4">
            <%= f.radio_button :evaluation, '1点' %>
            <%= f.label :evaluation, '1点', value: 1 %>
            <%= f.radio_button :evaluation, '2点' %>
            <%= f.label :evaluation, '2点', value: 2 %>
            <%= f.radio_button :evaluation, '3点' %>
            <%= f.label :evaluation, '3点', value: 3 %>
            <%= f.radio_button :evaluation, '4点' %>
            <%= f.label :evaluation, '4点', value: 4 %>
            <%= f.radio_button :evaluation, '5点' %>
            <%= f.label :evaluation, '5点', value: 5 %>
          </div>
        </div>
        
        <div class="row mt-2">
          <div class="col-sm col-md-5 col-lg-2"><%= f.label :review_content, "レビュー内容", class: "col-12" %></div>
          <div class="col-sm col-md-5 col-lg-4"><%= f.text_area :review_content, autofocus: true, size: "37x10" %></div>
        </div>
        
        <div class="row mt-2">
          <div class="col-sm col-md-5 col-lg-2"></div>
          <div class="d-flex justify-content-center col-lg-3"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>