<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mt-3">レビュー一覧</h3>
      <%= form_tag(search_reviews_path, :method => :get) do %>
        <%= text_field_tag :word %>
        <%= submit_tag "検索", class: "btn btn-success" %>
        <ul class="search-ul">
          <% Tag.all.each do |tag| %>
            <li class="search-li"><%= check_box :tag_ids, tag.id %><%= tag.name %></li>
          <% end %>
        </ul>
      <% end %>
      <% @reviews.each do |review| %>
        <div class="card">
          <div class="card-body">
            <table class="table border:none;">
              <tr>
                <th></th>
                <th></th>
                <th>商品名</th>
                <th>タイトル</th>
                <th>タグ</th>
                <th>評価</th>
                <th>レビュー内容</th>
                <th></th>
              </tr>
              
              <tr>
                <td><%= image_tag review.member.image, size: "50x50" %></td>
                <td><%= review.member.name %></td>
                <td><%= review.product_name %></td>
                <td><%= review.title %></td>
                <td><% review.tags.each do |tag| %>
                ・<%= tag.name %><br>
                <% end %></td>
                <td><%= review.evaluation %>点</td>
                <td><%= review.review_content %></td>
                <td><%= link_to "コメント", review_path(review.id) %></td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>