<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h3>レビュー詳細</h3>
      <div class="card">
        <div class="card-body">
          <table class="table border:none;">
            <tr>
              <th></th>
              <th></th>
              <th>商品名</th>
              <th>タイトル</th>
              <th>タグ</th>
              <th>評価</th>
              <th>レビュー内容</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td><%= image_tag @review.member.image, size: "50x50" %></td>
              <td><%= @review.member.name %></td>
              <td><%= @review.product_name %>
              <%= image_tag @review.image_url, size: "50x50" %>
              
              </td>
              <td><%= @review.title %></td>
              <td><% @review.tags.each do |tag| %>
                ・<%= tag.name %><br>
              <% end %></td>
              <td><%= @review.evaluation %>点</td>
              <td><%= @review.review_content %></td>
              <% if @review.member == current_member %>
              <td><%= link_to "編集", edit_review_path(@review.id), class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "削除", review_path(@review.id), class: "btn btn-danger btn-sm",  method: :delete %></td>
              <% else %>
              <td></td>
              <td></td>
              <% end %>
              <% if @review.member == current_member %>
              <td></td>
              <% else %>
              <td><%= link_to "コメント投稿", new_review_comment_path(@review.id) %></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

          <table class="table border:none;">
            <% if  @comments.present? %>
            <tr>
              <th></th>
              <th></th>
              <th>コメント</th>
              <th></th>
              <th></th>
            </tr>
            <% else %>
            <% end %>
            <% @comments.each do |comment| %>
            <tr>
              <td><%= image_tag comment.member.image, size: "50x50" %></td>
              <td><%= comment.member.name %></td>
              <td><%= comment.comment_content %></td>
              <% if comment.member == current_member %>
              <td><%= link_to "編集", edit_review_comment_path(comment.review_id,comment.id), class: "btn btn-outline-success" %></td>
              <td><%= link_to "削除", review_comment_path(comment.review_id,comment.id), class: "btn btn-outline-danger", method: :delete %></td>
              <% else %>
              <td></td>
              <td></td>
              <% end %>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>