<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h5>レビュー詳細</h5>
        <div style="overflow-x:auto;">
          <table class="table border:none; review_table">
            <tr>
              <th style="width: 50px"></th>
              <th style="width: 80px"></th>
              <th style="width: 100px">商品名</th>
              <th style="width: 100px">タイトル</th>
              <th style="width: 100px">タグ</th>
              <th style="width: 70px">評価</th>
              <th>レビュー内容</th>
              <th></th>
              <th></th>
              <th style="width: 100px"></th>
            </tr>
            <tr>
              <%if @review.member.image.attached? %>
                <td><%= image_tag @review.member.image, size: "50x50" %><br>
                <%= @review.created_at.strftime("%Y/%m/%d") %></td>
              <%else%>
                <td><%=image_tag "no_image.jpg", size: "50x50"%><br>
                <%= @review.created_at.strftime("%Y/%m/%d") %></td>
              <%end%>
              <td><%= @review.member.name %></td>
              <td><%= @review.product_name %>
              <%= image_tag @review.image_url, size: "85x85" %>
              
              </td>
              <td><%= @review.title %></td>
              <td><% @review.tags.each do |tag| %>
                ・<%= tag.name %><br>
              <% end %></td>
              <td><%= @review.evaluation %>点</td>
              <td><%= safe_join(@review.review_content.split("\n"),tag(:br)) %></td>
              <% if @review.member == current_member %>
              <td style="width: 70px"><%= link_to "編集", edit_review_path(@review.id), class: "btn btn-success btn-sm" %></td>
              <td style="width: 70px"><%= link_to "削除", review_path(@review.id), "data-confirm" => "本当に削除しますか？",  class: "btn btn-danger btn-sm",  method: :delete %></td>
              <% else %>
              <td></td>
              <td></td>
              <% end %>
              <td><%= link_to "コメント投稿", new_review_comment_path(@review.id), class: "btn btn-info btn-sm" %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table border:none; review_table">
        <% if  @comments.present? %>
        <tr>
          <th style="width: 50px"></th>
          <th style="width: 100px"></th>
          <th>コメント</th>
          <th style="width: 70px"></th>
          <th style="width: 70px"></th>
        </tr>
        <% else %>
        <% end %>
        <% @comments.each do |comment| %>
        <tr>
          <%if comment.member.image.attached? %>
            <td><%= image_tag comment.member.image, size: "50x50" %><br>
            <%= comment.created_at.strftime("%Y/%m/%d") %></td>
          <%else%>
            <td><%=image_tag "no_image.jpg", size: "50x50"%><br>
            <%= comment.created_at.strftime("%Y/%m/%d") %></td>
          <%end%>
          <td><%= comment.member.name %></td>
          <td><%= safe_join(comment.comment_content.split("\n"),tag(:br)) %></td>
          <% if comment.member == current_member %>
          <td><%= link_to "編集", edit_review_comment_path(comment.review_id,comment.id), class: "btn btn-outline-success btn-sm" %></td>
          <td><%= link_to "削除", review_comment_path(comment.review_id,comment.id), "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm", method: :delete %></td>
          <% else %>
          <td></td>
          <td></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= paginate @comments %>
    </div>
</div>