<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h5>レビュー詳細</h5>
        <table class="table border:none;">
          <tr>
            <th></th>
            <th></th>
            <th>商品名</th>
            <th>タイトル</th>
            <th>タグ</th>
            <th>評価</th>
            <th>レビュー内容</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <%if @review.member.image.attached? %>
              <td><%= image_tag @review.member.image, size: "50x50" %></td>
            <%else%>
              <td><%=image_tag "no_image.jpg", size: "50x50"%></td>
            <%end%>
            <td><%= @review.member.name %></td>
            <td><%= @review.product_name %>
            <%= image_tag @review.image_url, size: "85x85" %>
            
            </td>
            <td><%= @review.title %></td>
            <td style="width: 8%"><% @review.tags.each do |tag| %>
              ・<%= tag.name %><br>
            <% end %></td>
            <td style="width: 8%"><%= @review.evaluation %>点</td>
            <td style="width: 15%"><%= safe_join(@review.review_content.split("\n"),tag(:br)) %></td>
            <% if @review.member == current_member %>
            <td><%= link_to "編集", edit_review_path(@review.id), class: "btn btn-success btn-sm" %></td>
            <td><%= link_to "削除", review_path(@review.id), class: "btn btn-danger btn-sm",  method: :delete %></td>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
            <td><%= link_to "コメント投稿", new_review_comment_path(@review.id), class: "btn btn-info btn-sm" %></td>
          </tr>
        </table>
      </div>
    </div>

    <table class="table border:none;">
      <% if  @comments.present? %>
      <tr>
        <th></th>
        <th></th>
        <th>コメント</th>
        <th></th>
        <th></th>
      </tr>
      <% else %>
      <% end %>
      <% @comments.each do |comment| %>
      <tr>
        <%if comment.member.image.attached? %>
          <td><%= image_tag comment.member.image, size: "50x50" %></td>
        <%else%>
          <td><%=image_tag "no_image.jpg", size: "50x50"%></td>
        <%end%>
        <td><%= comment.member.name %></td>
        <td><%= safe_join(comment.comment_content.split("\n"),tag(:br)) %></td>
        <% if comment.member == current_member %>
        <td><%= link_to "編集", edit_review_comment_path(comment.review_id,comment.id), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to "削除", review_comment_path(comment.review_id,comment.id), class: "btn btn-outline-danger btn-sm", method: :delete %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <div class="row justify-content-center">
      <%= paginate @comments %>
    </div>
</div>