<div class='container mt-3'>
  <h5>編集画面</h5>
  <div class='row pl-5 ml-5'>
    <%= form_with model: @member, url: members_path, method: :patch do |f| %>
    <div class="form-group row">
      <div class="col-8 text">
        <%= f.label :image, "アイコン" %>
        <%= f.file_field :image, accept: 'image/*' %>
        <div id="image_preview">
          <% if @member.image.attached? %>
             <%= image_tag @member.image, size: "90x90" %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :name, "ユーザーネーム", class: "col-12" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    
    <div class="form-group row">
      <%= f.label :email, "メールアドレス", class: "col-12" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="actions">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
