<!DOCTYPE html>
<html>
  <head>
    <title>Petnowa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# top.html.erbの方の編集も忘れないこと %>
    <%= render 'layouts/header' %>
    <% if flash[:notice].present? || notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] || notice %>
      </div>
    <% end %>
    <% if flash[:alert].present? || alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] || alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
